@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    --light-gray: #D2D6DA;
    --platinum: #E9EBED;
    --silver-sand: #B2B9BD;
    --roman-silver: #868898;
}

html, body, .wrapper {
    height: 100%;
    min-height: 550px;
    min-width: 1500px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: "Kumbh Sans", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

.fa {
    padding: 0;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.6;
}

#nav-bar {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    min-width: 1500px;
}

.nav-button {
    width: 120px;
    min-width: 120px;
    font-size: large;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-button:hover {
    background: var(--roman-silver);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
}
