@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    /* Main website color palette */
    --light-gray: #d2d6da;
    --platinum: #e9ebed;
    --silver-sand: #b2b9bd;
    --roman-silver: #868898;

    /* Project status badge color palette */
    --terra-cotta: #e07a5f;
    --deep-champagne: #edb862;
    --green-sheen: #81b29a;
    --cool-gray: #9195b6;

    scroll-behavior: smooth;
}

html, body, .flex-wrapper {
    height: 100%;
    min-height: 550px;
    min-width: 1500px;
    margin: 0;
    padding: 0;
    background: transparent;
}

h1, h2, h3, h4 {
    font-family: "Kumbh Sans", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

.fa {
    padding: 0;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.6;
}

#nav-bar {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    min-width: 1500px;
}

.nav-button {
    width: 120px;
    min-width: 120px;
    font-size: large;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-button:hover {
    background: var(--roman-silver);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.flex-column-layout {
    flex: 1;
    display: flex;
    background-color: transparent;
}

.flex-column {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-row-centered-padded {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flex-stack {
    display: flex;
    flex-direction: column;
}
