.intro-column {
    background-color: var(--roman-silver);
    order: 1;
    flex: 6;
}

.bio-column {
    background-color: var(--platinum);
    order: 2;
    flex: 4;
}

.intro-column > div, .bio-column > div {
    width: 75%;
}

.intro-column > div {
    background-color: var(--light-gray);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.flex-row-centered-padded > p {
    margin: 0;
    width: 80%
}


.flex-stack > h1 {
    margin-top: 0;
}

.flex-stack > h3 {
    margin: 0;
}

.hr {
    background-color: var(--roman-silver);
    width: 80%;
    height: 6px;
    align-self: center;
}

img {
    border-radius: 50%;
    max-width: 180px;
    margin-right: 20px;
}

#hello {
    font-size: 60px;
    margin: 0 0 20px 0;
}