#resume-content {
    padding-top: 60px;
    background-color: var(--roman-silver);
    flex: 1;
}

br {
    margin-top: 30px;
}

.resume-section {
    background-color: var(--light-gray);
    width: 80%;
    border: 2px solid var(--silver-sand);
    margin-bottom: 60px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
}

.section-header {
    width: 100%;
    height: 50px;
    background-color: var(--silver-sand);
}

.section-title {
    font-weight: normal;
    margin: 0 0 0 20px;
}

.section-content {
    padding: 30px;
}

.subsection-header {
    margin: 0;
}

.subsection-list {
    margin: 0;
}

.subsection-list > li > p {
    margin-bottom: 0;
}

.job-title {
    margin-top: 0;
}

.download-button {
    position: fixed;
    bottom: 1.5%;
    right: 1.25%;
    height: 35px;
    padding-top: 2px;
    width: 7%;
    z-index: 3;
    font-size: large;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 0.2s linear;
    background-color: var(--light-gray);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.download-button:hover {
    background-color: var(--silver-sand);
}
