<!-- An HTML template which represents a card containing a project and its related content. -->
<!--suppress HtmlUnknownAnchorTarget -->
<div id="{{ project.id }}" class="card-offset"></div>
<div class="project-card flex-stack" data-project-id="{{ project.id }}">
    <!-- Create a header block containing the project's title and status. -->
    <div class="title-block flex-row disable-select">
        <!-- Display the project's title. -->
        <h2 class="project-title">{{ project.title }}</h2>

        <!-- Display a status badge containing the project's status. -->
        <div class="status-badge">{{ project.status }}</div>
    </div>

    <!-- Create a container for the project card's content. -->
    <div class="content-container flex-stack">
        <!-- Display a section of content which contains the project's description. -->
        {% include 'projects/content/description.html' %}

        <!-- Display the projects contents, rendered using their appropriate templates. -->
        {% for content in project.content %}
            <div class="content-separator"></div>
            {% include content.template %}
        {% endfor %}

        <!-- Display text that, when clicked, shows more details about the project. -->
        <div class="see-more">
            <a class="see-more-text not-hovering" href="#{{ project.id }}">See More >></a>
        </div>
    </div>
</div>
