{% extends 'lens/base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now "U" %}">

    <!-- Create a main content area for the page. -->
    <div class="flex-wrapper">
        <div class="flex-column-layout">
            <div class="flex-column bio-column">
                <div>
                    <h1>Hello.</h1>
                    <p>Interesting hook</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum fugit veniam amet quae sint vitae numquam dolore sunt quod a odio officia voluptate doloribus, at. Cum quasi mollitia eaque. Voluptatibus soluta, consequuntur, reiciendis debitis omnis fugiat libero pariatur amet laudantium.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum fugit veniam amet quae sint vitae numquam dolore sunt quod</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum fugit veniam amet quae sint vitae numquam dolore sunt quod a odio officia voluptate doloribus, at. Cum quasi mollitia eaque. Voluptatibus soluta, consequuntur, reiciendis debitis omnis fugiat libero pariatur amet laudantium.</p>
                </div>
            </div>
            <div class="flex-column intro-column">
                <div class="flex-stack">
                    <div class="flex-row-centered-padded">
                        <img src="{% static '/images/placeholder-portrait.png' %}" alt="Portrait">
                        <div class="flex-stack">
                            <h1>Ethan Mancini</h1>
                            <h3>This is some subtext</h3>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="flex-row-centered-padded">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum fugit veniam amet quae sint vitae numquam dolore sunt quod a odio officia voluptate doloribus, at. Cum quasi mollitia eaque. Voluptatibus soluta, consequuntur, reiciendis debitis omnis fugiat libero pariatur amet laudantium.</p>
                    </div>
                    <div class="hr"></div>
                    <div class="flex-row-centered-padded">
                        <a href="/" class="fa fa-globe fa-2x"></a>
                        <a target="_blank" href="https://github.com/epm0dev/" class="fa fa-github fa-2x"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/epm0dev/" class="fa fa-linkedin fa-2x"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
