<!-- An HTML template which represents a card containing a project and its related content. -->
<div class="project-card">
    <!-- Create a header block containing the project's title and status. -->
    <div class="project-card-header-block disable-select">
        <!-- Display the project's title and a link to the project's individual page. -->
        <span class="project-card-header-text">
            {{ project.title }}
            <a target="_blank" href="/projects/{{ project.id }}">&#x2197</a>
        </span>

        <!-- Display a status badge containing the project's status. -->
        <span class="project-card-status-container">
            <span class="project-card-status-badge">{{ project.status }}
                <span class="tooltiptext">{{ project.status_tooltip }}</span>
            </span>
        </span>
    </div>

    <!-- Create a container for the project card's content. -->
    <div class="card-content-container">
        <!-- Display a section of content which contains the project's description. -->
        {% include 'projects/content-description.html' %}

        <!-- Display the projects contents, rendered using their appropriate templates. -->
        {% for content in contents %}
            <div class="content-separator"></div>
            {% include content.template %}
        {% endfor %}
    </div>
</div>
<!-- <div class="card-bottom-gradient"></div> -->
