<!-- Extend the base page template and override its content block. -->
{% extends 'lens/base.html' %}
{% block content %}
    <!-- Load static content and link the project application's stylesheet. -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}?{% now "U" %}">

    <!-- Display a list of project cards in one column and a column which contains the details of the focused project. -->
    <div class="flex-wrapper">
        <div class="flex-column-layout">
            <div class="flex-column" id="list-column">
                <div id="shadow-box" class="hide-shadow"></div>

                <!-- Display a card containing information about each project. -->
                {% for project in projects %}
                    {% include 'projects/project/card.html' %}
                {% endfor %}
            </div>
            <div class="flex-column collapsed" id="detail-column">
                <!-- Display each project's details. -->
                {% for project in projects %}
                    {% include 'projects/project/detail.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Load scripts to dynamically set the status badge background color for each project card and handle som animations. -->
    {% for script in scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}
    <script src="{% static 'javascript/projects.js' %}"></script>
{% endblock %}
